/* INDEX (HOME PAGE) CSS START */
* {
    box-sizing: border-box;
}
:root {
    --yellow: yellow;
}
header{
    width: 100;
    background-color: black;
    padding: 15px;
}
header h1{
    color: yellow;
    text-align: center;
}
body {
    /* font-family: Lato, sans-serif; */
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #232e33;
  }
nav ol{
        list-style: none;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1em 0;
}
nav li a {
    text-decoration: none;
    color: white;
    padding-right: 3em;
    position: relative;
    transition: all ease-in-out 250ms;
    font-size: larger;
}
nav li a::after {
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--yellow);
    bottom: -1em;
    transition: all ease-in-out 250ms;
}
nav li a:hover::after {
    width: 60%;
}

nav li a:hover {
    color: var(--yellow);
}

nav li:first-child {
    margin-right: auto;
    margin-left: 3em;
}
#navbar {
    width: 100vw;
    background-color: #192024;
    font-weight: bold;
}
section {
    min-height: 100vh;
    padding:1%;
}
#homeh2{
    color:yellow;
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
}
/* INDEX (HOME PAGE) CSS END */

/* MICROSOFTOOFICE PAGE CSS START */
#officeh1{
    color:yellow;
    text-decoration: none;
    text-align: center;
    font-size: xx-large;

}
#officeimg{
    width: auto;
    height: auto;
    padding: 55px;
    align-items: center;

}







/* MICROSOFTOOFICE PAGE CSS START */



/* MICROSOFT WORD HTML PAGE CSS Start */

/* section h1 microsoft word page*/
#mwh1{
    color:yellow;
    text-decoration: none;
    text-align: center;
    font-size: xx-large;
}

#mwh2{
    color: yellow;
    text-decoration: none;
    text-align: left;
    font-size: x-large;
}

#mwp{
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: larger;
}

/* section h1 microsoft word page*/

/* MICROSOFT WORD HTML PAGE CSS End */

/* FOOTER CSS START */
footer {
    background-color: #192024;
    overflow: hidden;
    }
    
    footer a {
        text-decoration: none;
        padding: 20px;
        text-align: center;
        float: left;
        color: white;
    }

    footer a:hover{
        color: yellow;
    }
/* FOOTER CSS END*/

/* RESPONSIVE START */
@media only screen and (min-width: 320px)and (max-width: 480px){
    header h1{
        font-size:20px;
        padding: auto;
    }
    nav{
        padding:auto;
        font-size:9px;
        margin:0px;
    }

    footer a{
        padding:auto;
        font-size:9px;
        margin:0px;

    }
    #zoom:hover {
        transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
 
}

/* RESPONSIVE END */

